# Numerical experiements for unconstrained monotone systems of equations

In [28]:
from solvers_unconstrained import DMBHP
from problems import *
import numpy as np
import pandas as pd

For DMBPH,<br>
problem1 = problem 3 (in problems) <br>
problem2 = tridiagonal_exponential <br>
problem3 = strictly_convex <br>
problem4 = linear_monotone <br>
problem5 = logarithmic2<br>
problem6 = tridiagonal<br>
problem7 = problem7 <br>
problem8 = problem8<br>
problem9 = problem9 <br>

In [2]:
dimensions = [20000,40000,60000,100000]
problem1 = problem3
problem2 = tridiagonal_exponential
problem3 = strictly_convex
problem4 = linear_monotone
problem5 = logarithmic2
problem6 = tridiagonal
problems = [problem1, problem2, problem3, problem4, problem5, problem6, problem7, problem8, problem9,]
#problems = [problem1, problem2, problem3]

In [3]:
table1 = pd.read_excel("table1_dmbhp.xlsx")
table2 = pd.read_excel("table2_dmbhp.xlsx")

In [4]:
table2.head()

        P(n)  Iters  F eval        Norm F
0   1(20000)      9      28  3.420000e-07
1   1(40000)      9      28  4.840000e-07
2   1(60000)      9      28  5.920000e-07
3  1(100000)      9      28  7.650000e-07
4   2(20000)     13      43  5.640000e-07

In [5]:
table1.columns

Index(['P(n)', 'Iters', 'F eval', 'Norm F'], dtype='object')

In [12]:
py_table1 = pd.DataFrame(columns = table1.columns)

In [13]:
#run problems and record to table
n = 0
for F in problems:
    n += 1
    for dim in dimensions:
        x0 = np.ones([dim,1])
        Pn = str(n) + '(' + str(dim) + ')'
        x_star, iters, Fevals, norm_F = DMBHP(F, x0)
        row = [Pn, iters, Fevals, norm_F]
        py_table1.loc[len(py_table1)] = row

In [14]:
py_table1.tail()

         P(n)  Iters  F eval        Norm F
31  8(100000)      9      32  9.079389e-07
32   9(20000)      7      35  2.245495e-07
33   9(40000)      7      35  3.175609e-07
34   9(60000)      7      35  3.889311e-07
35  9(100000)      7      35  5.021079e-07

In [15]:
table1.tail()

         P(n)  Iters  F eval        Norm F
31  8(100000)      9      28  7.650000e-07
32   9(20000)      7      30  4.320000e-07
33   9(40000)      7      30  4.940000e-07
34   9(60000)      8      34  4.380000e-08
35  9(100000)      8      34  5.650000e-08

In [30]:
len(table1)

36

In [17]:
print(py_table1)

         P(n)  Iters  F eval        Norm F
0    1(20000)      9      32  4.060426e-07
1    1(40000)      9      32  5.742310e-07
2    1(60000)      9      32  7.032864e-07
3   1(100000)      9      32  9.079389e-07
4    2(20000)      9      32  7.070625e-07
5    2(40000)      9      32  9.999407e-07
6    2(60000)     10      35  1.224673e-07
7   2(100000)     10      35  1.581046e-07
8    3(20000)      9      33  1.673619e-07
9    3(40000)      9      33  2.366855e-07
10   3(60000)      9      33  2.898794e-07
11  3(100000)      9      33  3.742327e-07
12   4(20000)     77     475  9.402582e-07
13   4(40000)     74     457  9.638049e-07
14   4(60000)     74     457  9.110780e-07
15  4(100000)     74     457  8.718644e-07
16   5(20000)      9      30  1.855235e-07
17   5(40000)      9      30  2.619295e-07
18   5(60000)      9      30  3.206173e-07
19  5(100000)      9      30  4.137297e-07
20   6(20000)     15      99  6.405319e-07
21   6(40000)     15      99  9.051565e-07
22   6(60000)     16     105  3.056262e-07
23  6(100000)     16     105  3.944522e-07
24   7(20000)     41     359  8.293667e-07
25   7(40000)     47     404  8.841078e-07
26   7(60000)     44     383  5.563037e-07
27  7(100000)     47     468  7.973873e-07
28   8(20000)      9      32  4.060426e-07
29   8(40000)      9      32  5.742310e-07
30   8(60000)      9      32  7.032864e-07
31  8(100000)      9      32  9.079389e-07
32   9(20000)      7      35  2.245495e-07
33   9(40000)      7      35  3.175609e-07
34   9(60000)      7      35  3.889311e-07
35  9(100000)      7      35  5.021079e-07

In [21]:
py_table2 = pd.DataFrame(columns = table1.columns)

In [22]:
n = 0
for F in problems:
    n += 1
    for dim in dimensions:
        x0 = 2*np.ones([dim,1])
        Pn = str(n) + '(' + str(dim) + ')'
        x_star, iters, Fevals, norm_F = DMBHP(F, x0)
        row = [Pn, iters, Fevals, norm_F]
        py_table2.loc[len(py_table2)] = row

In [23]:
py_table2

         P(n)  Iters  F eval        Norm F
0    1(20000)     10      36  1.314158e-07
1    1(40000)     10      36  1.858501e-07
2    1(60000)     10      36  2.276189e-07
3   1(100000)     10      36  2.938548e-07
4    2(20000)      9      32  2.955686e-07
5    2(40000)      9      32  4.179985e-07
6    2(60000)      9      32  5.119418e-07
7   2(100000)      9      32  6.609143e-07
8    3(20000)      9      35  3.514588e-07
9    3(40000)      9      35  4.970378e-07
10   3(60000)      9      35  6.087445e-07
11  3(100000)      9      35  7.858858e-07
12   4(20000)     46     286  9.678168e-07
13   4(40000)     46     286  8.503031e-07
14   4(60000)     45     280  9.549283e-07
15  4(100000)     45     280  9.032291e-07
16   5(20000)     10      33  1.016424e-07
17   5(40000)     10      33  1.434895e-07
18   5(60000)     10      33  1.756342e-07
19  5(100000)     10      33  2.266356e-07
20   6(20000)     16     110  7.943939e-07
21   6(40000)     17     116  3.096578e-07
22   6(60000)     17     116  3.792157e-07
23  6(100000)     17     116  4.895282e-07
24   7(20000)     47     488  9.541244e-07
25   7(40000)     43     449  7.892727e-07
26   7(60000)     53     517  7.037864e-07
27  7(100000)     55     553  6.655354e-07
28   8(20000)     10      36  1.314158e-07
29   8(40000)     10      36  1.858501e-07
30   8(60000)     10      36  2.276189e-07
31  8(100000)     10      36  2.938548e-07
32   9(20000)      7      36  6.187032e-07
33   9(40000)      7      36  8.749784e-07
34   9(60000)      8      40  4.286510e-08
35  9(100000)      8      40  5.533846e-08

In [31]:
table1["Iters"].compare(py_table1["Iters"])

    self  other
4   13.0    9.0
5   13.0    9.0
6   14.0   10.0
7   12.0   10.0
8   10.0    9.0
9   10.0    9.0
10  10.0    9.0
11  10.0    9.0
12  57.0   77.0
13  55.0   74.0
14  54.0   74.0
15  53.0   74.0
16  10.0    9.0
17  10.0    9.0
18  10.0    9.0
19  10.0    9.0
20  16.0   15.0
21  17.0   15.0
22  17.0   16.0
23  17.0   16.0
24  74.0   41.0
25  52.0   47.0
26  58.0   44.0
27  55.0   47.0
34   8.0    7.0
35   8.0    7.0

In [34]:
table2["F eval"].compare(py_table2["F eval"])

    self  other
0     28     36
1     28     36
2     28     36
3     28     36
4     43     32
5     42     32
6     46     32
7     39     32
8     34     35
9     34     35
10    34     35
11    34     35
12   343    286
13   331    286
14   325    280
15   319    280
16    30     33
17    30     33
18    30     33
19    30     33
20   101    110
21   107    116
22   107    116
23   107    116
24   570    488
25   409    449
26   400    517
27   417    553
28    28     36
29    28     36
30    28     36
31    28     36
32    30     36
33    30     36
34    34     40
35    34     40

In [32]:
table1["Iters"]

0      9
1      9
2      9
3      9
4     13
5     13
6     14
7     12
8     10
9     10
10    10
11    10
12    57
13    55
14    54
15    53
16    10
17    10
18    10
19    10
20    16
21    17
22    17
23    17
24    74
25    52
26    58
27    55
28     9
29     9
30     9
31     9
32     7
33     7
34     8
35     8
Name: Iters, dtype: int64

In [33]:
py_table1["Iters"]

0      9
1      9
2      9
3      9
4      9
5      9
6     10
7     10
8      9
9      9
10     9
11     9
12    77
13    74
14    74
15    74
16     9
17     9
18     9
19     9
20    15
21    15
22    16
23    16
24    41
25    47
26    44
27    47
28     9
29     9
30     9
31     9
32     7
33     7
34     7
35     7
Name: Iters, dtype: int64